In [1]:
import requests

# サーチ内容をこちらに記載
search_list_query = """
search index=_internal 
| head 200 
| table _time source sourcetype user bytes
""" 

# curlオプションを記載
data = {
  'search': search_list_query,
  'exec_mode': 'oneshot',
  'output_mode': 'json',
  'count': '0'   # default だと 100個しかリターンされない
}

# <splunk-server> 、<user-name>、<passwd>  を変更ください
response = requests.post('https://<splunk-server>:8089/services/search/jobs' , data=data, verify=False, auth=("<user-name>", "<passwd>"))

/usr/local/lib/python3.7/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [2]:
import pandas as pd
result=response.json()['results']
df = pd.DataFrame(result)

In [3]:
df

                             _time  ...  bytes
0    2021-02-27T11:07:08.902+09:00  ...  32453
1    2021-02-27T11:07:08.339+09:00  ...    NaN
2    2021-02-27T11:07:08.339+09:00  ...    NaN
3    2021-02-27T11:07:08.035+09:00  ...  71326
4    2021-02-27T11:07:07.897+09:00  ...    NaN
..                             ...  ...    ...
195  2021-02-27T11:07:03.060+09:00  ...    NaN
196  2021-02-27T11:07:03.060+09:00  ...    NaN
197  2021-02-27T11:07:03.060+09:00  ...    NaN
198  2021-02-27T11:07:03.060+09:00  ...    NaN
199  2021-02-27T11:07:03.060+09:00  ...    NaN

[200 rows x 5 columns]